<p>Things.Photos is a database of artefacts (manmade things) from around the world. It is born out of a realisation that although taxonomists have been by working on The Catalogue of Life, no one has attempted to create an equivalent catalogue for diverse range of artefacts we see and use every day.</p>
<p>Although I came up with the overall concept, Guo Yanru made significant refinements to the idea. Ultimately, such projects get translated into reality only with the help of programmers, and I have been very blessed to have six very talented programmers working on it. Being as playful as they are hardworking, they have given themselves names from Star Wars.</p>
<p>The database team:
<ul style="list-style-type: square;">
  <li>&nbsp;Balasubramaniam Mohanbabu (&ldquo;Luke&rdquo;)</li>
  <li>&nbsp;Ravichandran Sathiyavanan (&ldquo;Yoda&rdquo;)</li>
  <li>&nbsp;Divya Viswanathan (&ldquo;Leia&rdquo;)</li>
</ul>
</p>
<p>The Android interface team:</p>
<ul style="list-style-type: square;">
  <li>&nbsp;Balasubramaniam Arul Kumar (&ldquo;Hans&rdquo;)</li>
  <li>&nbsp;Karuppiah Vallikkannu (&ldquo;Rey&rdquo;)</li>
  <li>&nbsp;Ravi Raj (&ldquo;Kenobi&rdquo;)</li>
</ul>
<p>We have also benefited from useful advice from Don Chai.<br/>
If you have suggestions to improve Things.Photos, please send them to me (Lee Chu Keong) at ascklee@ntu.edu.sg. May the force be with all of us.</p>
<p>Thank you,<br/>
Lee Chu Keong<br/>
(Director, KM -Nanyang Technological University )</p>