<center>
  <h3>An enclyopedia of Artifacts.</h3>
    <br/>
        <%= render 'pintable' %>
  <br/>
  <% if signed_in? -%>
  <%= link_to 'Start Contributing', items_path, class: 'btn btn-default btn-lg' %>
	<% else -%>
 <%= link_to 'Start Contributing', new_home_path, class: 'btn btn-default btn-lg' %>
	<% end -%>
</center>