<center>
  <h3>An enclyopedia of Artifacts.</h3>
    <br/>
        <%= render 'pintable' %>
  <br/>
        <%= link_to 'Start Contributing', new_home_path, class: 'btn btn-default btn-lg' %>
</center>