<br/>
<br/>
<br/>
<div class="container">
<p id="notice"><%= notice %></p>
<h1>Item Details </h1>
<p>
  <% @itemdetail.data.each do |key,value| %>
      <%= key %> : <input type="text" disabled name="" value="<%= value %>" ><br/>
  <% end %>
</p>


<%= link_to 'Back', item_path(@item) %>


</div>