<p id="notice"><%= notice %></p>

<p>
  <strong>DATA:</strong>
  <%= @itemdetail.data %>
</p>


<%= link_to 'Edit', edit_item_itemdetail_path(@item,@itemdetail) %> |
<%= link_to 'Back', item_itemdetails_path(@item) %>
