<div id="caro-slider" class="owl-carousel owl-theme">
<% @photos = Photo.all.where(:featured=>1).allow_filtering!
    @photos.each do |photo|
   %> 
    <div class="item">
     <%= link_to item_path(photo.item_id) do %>	
     <img src="/uploads/<%= + photo.attachment %>" width="100%">
     <% end %>
    </div>
   <% end %>
</div>

<script>

var owl = $("#caro-slider");
owl.owlCarousel({
items:1,
    loop:true,
    margin:8,
    autoplay:true,
    autoplayTimeout:500,
    autoplayHoverPause:true,
    autoplaySpeed:1000,
    autoHeight:true,
    fluidSpeed:1000,
    lazyLoad:true
});
$('.play').on('click',function(){
    owl.trigger('play.owl.autoplay',[1000])
})
$('.stop').on('click',function(){
    owl.trigger('stop.owl.autoplay')
})
</script>

 <div class="transitions-enabled" id="pins">

 </div>